{% extends 'layout.html' %}
<!--Title-->
{% block title %}
<title>Django Demo App</title>
{% endblock %}

<div class="container">
  <!--Content-->
  {% block content %}
  <h1 class="mt-5 text-center">Online Move App</h1>
  <!--<p>{{ movie }}</p>-->
  <div class="row mt-5">
    {% for m in movie %}
    <!-- OLD VERSION
            <p>{{ m.name }} - {{m.year}}</p>
        -->
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="http://img.youtube.com/vi/{{m.trailer}}/maxresdefault.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ m.name }}e</h5>
          {% if m.star > 4 %}
          <button type="button" class="btn btn-danger">{{ m.star }}</button>
          {% else %}
          <button type="button" class="btn btn-warning">{{ m.star }}</button>
          {% endif %}
          <p class="card-text">{{ m.description }}</p>
          <a href="#" class="btn btn-primary">Trailer</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
