{% extends 'layout.html' %}
<!--Title-->
{% block title %}
<title>Testimonials</title>
{% endblock %}

<!--Content-->
{% block content %}
<div class="container">
  <h3 class="mt-5 text-center">Testimonials</h3>
  <div class="row">
    <div class="col order-last">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Chinese research ship on maiden voyage to South China Sea amid
          distrust by neighbours <br />…<br />The Shiyan 6 geophysical and
          seismic survey ship left Guangzhou on Monday for assignment in the
          estuary of the Pearl River and northern South China Sea<br />
          <a href="https://t.co/EjjHCepDvd">https://t.co/EjjHCepDvd</a>
        </p>
        &mdash; Pham Quang Vinh (@vinhlhq2015)
        <a
          href="https://twitter.com/vinhlhq2015/status/1434872393235722246?ref_src=twsrc%5Etfw"
          >September 6, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Today, in 1969, our leader left us.<br /><br />Next month, from
          <a href="https://twitter.com/LeftwordBooks?ref_src=twsrc%5Etfw"
            >@LeftwordBooks</a
          >
          - Selected Ho Chi Minh……
          <a href="https://t.co/cflznn1PnS">pic.twitter.com/cflznn1PnS</a>
        </p>
        &mdash; Vijay Prashad (@vijayprashad)
        <a
          href="https://twitter.com/vijayprashad/status/1433205065200902146?ref_src=twsrc%5Etfw"
          >September 1, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col order-first">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Ho Chi Minh City cannot stick to social distancing forever: Party
          chief Nen<a href="https://t.co/KVocb2CVLg">https://t.co/KVocb2CVLg</a>
        </p>
        &mdash; Tuoi Tre News (@VietNewsGateway)
        <a
          href="https://twitter.com/VietNewsGateway/status/1434860859684057092?ref_src=twsrc%5Etfw"
          >September 6, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
{% endblock %}
